.to-do-list{
  border-color: black;
  margin-top: 70px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  
}
body{
  background-color: rgb(203, 238, 248);
}
h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 80px;
  color: rgb(1, 2, 104);
}
input{
  border-radius: 6px;
  border-color: black;
  font-size: 25px;
  background-color: rgb(166, 226, 251);
  color: rgb(3, 0, 81);
}
.add-button{
  font-size: 20px;
  border-radius: 10px;
  border-color: rgb(0, 0, 0);
  background-color: rgb(119, 243, 114);
  color: rgb(14, 0, 103);
  margin-left: 12px;
}
.text{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25px;
  color: rgb(0, 0, 87);
  flex: 1;
}
ol{
  color: rgb(11, 0, 97);
  font-size: 25px;
}
.delete-button{
  background-color: rgb(226, 74, 74);
  color: azure;
  font-size: 18px;
}
.move-button{
  background-color: rgb(92, 119, 179);
  margin: 6px;
  font-size: 18px;
}
button{
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
li{
  font-weight: bold;
  padding: 18px;background-color: rgb(167, 230, 255);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  border: 4px solid rgb(12, 69, 104);
  border-radius: 14px;
}